body{
	background-color:#000;
	color:#68F;
}
canvas{
	position:absolute;
	background-color:#FFF;
}
.openHand{
	cursor:url('images/open-hand.png'),pointer;
}
.closedHand{
	cursor:url('images/closed-hand.png'),auto;
}
#container{
	position:relative;
	top:100px;
}
#tools{
	background-color:#9CF;
	padding:10px;
	padding-top:15px;
}